/* Responsive Page settings */

@media only screen and (max-width: 600px) {
    
   
/* Body Styling*/
}

.body {
    background-color: rgb(199, 183, 170);
}



/*paragraph styling*/

.p {
    border: 1Px solid rgb(185, 125, 110);
    padding: 10px;
}

/*paragraph styling*/

.p {
    border: 1Px solid rgb(185, 125, 110);
    padding: 10px;
}

/* header styling*/
.header {
    padding: 4px;
    text-align: center;
    background: #6b6b6b;
    color: rgb(251, 0, 0);
    font-size: 30px;
    
}

.header2 {
    padding: 1px;
    text-align: center;
    background: #817f7f;
    color: rgb(255, 255, 255);
    font-size: 20px;
}


/*Grid Styling*/
.grid-wrapper1 {
    display: grid;
    grid-gap: 5px;
    float: left;
    width: 50%;
    padding: 10px;
    background-color: rgb(163, 163, 163);
       
}

.grid-wrapper2 {
    display: grid;
    float: left;
    width: 50%;
    padding: 10px;
    background-color:  rgb(163, 163, 163);
}

/* card styling*/
.card {
    font-weight: normal;
	text-transform: uppercase;
	text-align: left;
    padding-top: vh;
    background-color: rgb(158, 149, 141);
    
}

/*Footer Settings*/
footer {
    text-align: center;
    padding: 50px;
    background-color: #9b9b9b;
  }
  footer p {
    font-size: 1rem;
  }
  

